<h2>Crear Cliente</h2>
<form [formGroup]="form" (ngSubmit)="guardar()">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Guardar</button>
  <button mat-button type="button" routerLink="/clientes">Cancelar</button>
</form>
