<h2>Editar Cliente</h2>
<form [formGroup]="form" (ngSubmit)="guardar()">
  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-100">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Actualizar</button>
  <button mat-button type="button" routerLink="/clientes">Cancelar</button>
</form>

