<h2>Detalle del Producto</h2>

<form [formGroup]="form" (ngSubmit)="actualizar()">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Precio</mat-label>
    <input matInput type="number" formControlName="precio" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Actualizar</button>
</form>
