<div class="container mt-4">
  <div class="card shadow rounded">
    <div class="card-body">
      <h2 class="text-navy mb-4">Detalle del Producto</h2>

      <form [formGroup]="productForm" (ngSubmit)="guardarCambios()" class="mx-auto w-75">

        <div class="mb-3">
          <label for="id" class="form-label fw-bold text-navy">ID</label>
          <input id="id" type="text" class="form-control form-control-lg" formControlName="id" />
        </div>

        <div class="mb-3">
          <label for="sku" class="form-label fw-bold text-navy">Número de Parte (SKU)</label>
          <input id="sku" type="text" class="form-control form-control-lg" formControlName="sku" />
        </div>

        <div class="mb-3">
          <label for="name" class="form-label fw-bold text-navy">Nombre</label>
          <input id="name" type="text" class="form-control form-control-lg" formControlName="name" />
        </div>

        <div class="mb-3">
          <label for="description" class="form-label fw-bold text-navy">Descripción</label>
          <input id="description" type="text" class="form-control form-control-lg" formControlName="description" />
        </div>

        <div class="mb-3">
          <label for="short_description" class="form-label fw-bold text-navy">Descripción Corta</label>
          <input id="short_description" type="text" class="form-control form-control-lg" formControlName="short_description" />
        </div>

        <div class="mb-3">
          <label for="regular_price" class="form-label fw-bold text-navy">Precio Regular</label>
          <input id="regular_price" type="number" class="form-control form-control-lg" formControlName="regular_price" />
        </div>

        <div class="mb-3">
          <label for="status" class="form-label fw-bold text-navy">Estatus</label>
          <input id="status" type="text" class="form-control form-control-lg" formControlName="status" />
        </div>

        <div class="mb-3">
          <label for="stock_status" class="form-label fw-bold text-navy">Estatus de Stock</label>
          <input id="stock_status" type="text" class="form-control form-control-lg" formControlName="stock_status" />
        </div>

        <div class="mb-3">
          <label for="stock_quantity" class="form-label fw-bold text-navy">Cantidad en Stock</label>
          <input id="stock_quantity" type="number" class="form-control form-control-lg" formControlName="stock_quantity" />
        </div>

        <div class="mb-4">
          <label for="type" class="form-label fw-bold text-navy">Tipo</label>
          <input id="type" type="text" class="form-control form-control-lg" formControlName="type" />
        </div>

        <button type="submit" class="btn btn-primary btn-lg px-5">Guardar</button>

      </form>
    </div>
  </div>
</div>
