<div *ngIf="cargando" class="alert alert-info">
  Cargando información del producto...
</div>

<div *ngIf="error" class="alert alert-danger">
  {{ error }}
</div>

<div *ngIf="precio && !cargando" class="card mt-3">
  <div class="card-body">
    <h5 class="card-title">{{ precio.producto }}</h5>
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Descripción:</strong> {{ precio.descripcion }}
          </li>
          <li class="list-group-item">
            <strong>Precio Dólar:</strong> {{ precio.precioDolar | currency }}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Valor Dólar:</strong> {{ precio.dolar | currency }}
          </li>
          <li class="list-group-item">
            <strong>Precio CLP:</strong> {{ precio.precioVenta }}
          </li>
          <li class="list-group-item">
            <strong>Stock:</strong> {{ precio.stock }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!precio && !cargando && !error" class="alert alert-warning mt-3">
  No se encontró información para este producto.
</div>